
// Background colors
$background-main-color: #9b8adc;
$background-blue-color: #58BBDB;
$background-pink-color: #C645A9;

// Font colors
$font-main-color: #0E2248;
$font-second-color: #474747;
$font-third-color: #EBEBEB;
$font-fourth-color: #B7B7B7;
$font-title-color: white;
$font-subtitle-color: #48E3BE;
$font-error-color: #FE4B4B;

// Card
$background-card-color: #666666;
$background-card-header-color: #58BCDB;