<div class="create-post">
    <h1 class="main-title mt-3">Create message</h1>

    <form class="mb-3">
        <p>Title message</p>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="word" value="Sushi">
        </mat-form-field>

        <p>Title message</p>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="word" value="Sushi">
        </mat-form-field>

        <button class="btn-primary">
            SHARE
        </button>
    </form>

    <app-card-message></app-card-message>
</div>