<div class="my-posts">
    <h1 class="main-title mt-3">All publications</h1>

    <div class="filters">
        <app-show-posts [totalPage]="countPages" [totalPosts]="totalPosts"></app-show-posts>
        <app-filter-by-word (onsearch)="setTerm($event)"></app-filter-by-word>
        <app-filter-date></app-filter-date>
    </div>

    <app-nothing-to-see *ngIf="(posts?.length === 0 || !posts) else postsTemplate"></app-nothing-to-see>

    <ng-template #postsTemplate>
        <div *ngFor="let post of posts">
            <app-card-message [post]="post"></app-card-message>
        </div>
        <app-paginator [totalPosts]="totalPosts" (onchangepage)="setPagination($event)"></app-paginator>

    </ng-template>
</div>
